In [4]:
#need to insert image of avocados in here
#<img src="https://t3.ftcdn.net/jpg/02/15/55/74/360_F_215557461_4i6XqmzKjHGDoZoIiiCXiZELpYrRZTyT.jpg" alt="Header Image" width="
#1000" height="250"/>

# QCTO - Workplace Module

### Project Title: Please Insert your Project Title Here
#### Done By: Ruben Juries

Â© ExploreAI 2024

---

## Table of Contents

<a href=#BC> Background Context</a>

<a href=#one>1. Importing Packages</a>

<a href=#two>2. Data Collection and Description</a>

<a href=#three>3. Loading Data </a>

<a href=#four>4. Data Cleaning and Filtering</a>

<a href=#five>5. Exploratory Data Analysis (EDA)</a>

<a href=#six>6. Modeling </a>

<a href=#seven>7. Evaluation and Validation</a>

<a href=#eight>8. Final Model</a>

<a href=#nine>9. Conclusion and Future Work</a>

<a href=#ten>10. References</a>

---
 <a id="BC"></a>
## **Background Context**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** This project focuses on analyzing avocado sales and pricing data to uncover trends and insights. The analysis includes data cleaning, filtering, and exploratory data analysis (EDA). Insights gained from this analysis can help in understanding the avocado market and predicting future trends.

* **Details:** Include information about the problem domain, the specific questions or challenges the project aims to address, and any relevant background information that sets the stage for the work.
---

---
<a href=#one></a>
## **Importing Packages**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Set up the Python environment with necessary libraries and tools.
* **Details:** List and import all the Python packages that will be used throughout the project such as Pandas for data manipulation, Matplotlib/Seaborn for visualization, scikit-learn for modeling, etc.
---

In [10]:
#Please use code cells to code in and do not forget to comment your code.
import pandas as pd # Importing the Pandas package with an alias, pd
from sqlalchemy import create_engine, text # Importing the SQL interface. If this fails, run !pip install sqlalchemy in another cell.
import matplotlib.pyplot as plt
import seaborn as sns
import re #this import regex package for Python used in data cleaning

---
<a href=#two></a>
## **Data Collection and Description**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** The dataset used in this project is sourced from Kaggle's Avocado Prices dataset. It contains data on avocado prices and sales volume from various regions in the U.S. between 2015 and 2018.

* **Details:** The data was collected from the dataset repositories.Mention sources of the data, the methods used for collection (e.g., APIs, web scraping, datasets from repositories), and a general description of the dataset including size, scope, and types of data available (e.g., numerical, categorical).
 
* **Data Fields:**
- `Date`: The date of the observation.
- `AveragePrice`: The average price of a single avocado.
- `Total Volume`: The total number of avocados sold.
- `4046`, `4225`, `4770`: Different avocado types based on PLU codes.
- `Region`: The geographical region.
- `Type`: The type of avocado (conventional or organic).
- `Year`: The year of the observation.

In [7]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#three></a>
## **Loading Data**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** The data is loaded into a Pandas DataFrame for easy manipulation:
* **Details:** Show the code used to load the data and display the first few rows to give a sense of what the raw data looks like.
---

In [12]:
#Please use code cells to code in and do not forget to comment your code.
df = pd.read_csv("Avocado_data.csv")
df.head()

,Date,AveragePrice,TotalVolume,plu4046,plu4225,plu4770,TotalBags,SmallBags,LargeBags,XLargeBags,type,region
0,2015-01-04,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,conventional,Albany
1,2015-01-04,1.79,1373.95,57.42,153.88,0.00,1162.65,1162.65,0.00,0.0,organic,Albany
2,2015-01-04,1.00,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.0,conventional,Atlanta
3,2015-01-04,1.76,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.0,organic,Atlanta
4,2015-01-04,1.08,788025.06,53987.31,552906.04,39995.03,141136.68,137146.07,3990.61,0.0,conventional,BaltimoreWashington

In [14]:
df.info() # Using this function to provide a concise summary of our data and to check for null entries.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53415 entries, 0 to 53414
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          53415 non-null  object
 1   AveragePrice  53415 non-null  float64
 2   TotalVolume   53415 non-null  float64
 3   plu4046       53415 non-null  float64
 4   plu4225       53415 non-null  float64
 5   plu4770       53415 non-null  float64
 6   TotalBags     53415 non-null  float64
 7   SmallBags     41025 non-null  float64
 8   LargeBags     41025 non-null  float64
 9   XLargeBags    41025 non-null  float64
 10  type          53415 non-null  object
 11  region        53415 non-null  object
dtypes: float64(9), object(3)
memory usage: 4.9+ MB

In [15]:
df.describe() # Using the describe function to view summary statistics on our data in order to have an overview.

,AveragePrice,TotalVolume,plu4046,plu4225,plu4770,TotalBags,SmallBags,LargeBags,XLargeBags
count,53415.000000,5.341500e+04,5.341500e+04,5.341500e+04,5.341500e+04,5.341500e+04,4.102500e+04,4.102500e+04,41025.000000
mean,1.428910,8.694474e+05,2.982707e+05,2.222170e+05,2.053195e+04,2.175083e+05,1.039222e+05,2.331316e+04,2731.811796
std,0.393116,3.545274e+06,1.307669e+06,9.554624e+05,1.040977e+05,8.676947e+05,5.692608e+05,1.496622e+05,22589.096454
min,0.440000,8.456000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
25%,1.119091,1.626465e+04,6.947250e+02,2.120800e+03,0.000000e+00,7.846520e+03,0.000000e+00,0.000000e+00,0.000000
50%,1.400000,1.203525e+05,1.458058e+04,1.751663e+04,9.005000e+01,3.695310e+04,6.945800e+02,0.000000e+00,0.000000
75%,1.690000,4.542380e+05,1.287924e+05,9.351560e+04,3.599735e+03,1.110146e+05,3.795298e+04,2.814920e+03,0.000000
max,3.440830,6.103446e+07,2.544720e+07,2.047057e+07,2.860025e+06,1.629830e+07,1.256716e+07,4.324231e+06,679586.800000

---
<a href=#four></a>
## **Data Cleaning and Filtering**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** This DataFrame will be used for all subsequent analysis.

---

In [17]:
#Please use code cells to code in and do not forget to comment your code.
#Please use code cells to code in and do not forget to comment your code.
''' This code will take the headings from dataframe and convert them into PEP 8 compliant headings and then replace the dataframe headings'''

def pep8_compliant_column_names(df):
    """
    Convert DataFrame column names to PEP 8 compliant names.
    
    Parameters:
    df (pd.DataFrame): The DataFrame with column names to convert.
    
    Returns:
    pd.DataFrame: DataFrame with updated column names.
    """
    def convert_to_pep8(name):
        # Replace spaces with underscores
        name = re.sub(r'\s+', '_', name)
        # Insert underscores between adjacent capitalized words
        name = re.sub(r'(?<=[a-z])(?=[A-Z])', '_', name)
        # Convert to lowercase
        name = name.lower()
        # Remove any non-alphanumeric characters except underscores
        name = re.sub(r'[^\w_]', '', name)
        # Replace multiple underscores with a single underscore
        name = re.sub(r'_+', '_', name)
        return name

    # Apply PEP 8 compliance to each column name
    new_columns = [convert_to_pep8(col) for col in df.columns]
    
    # Set the new column names
    df.columns = new_columns
    
    return df

In [18]:
df = pep8_compliant_column_names(df)
print(df.head())

         date  average_price  total_volume    plu4046    plu4225   plu4770  \
0  2015-01-04           1.22      40873.28    2819.50   28287.42     49.90
1  2015-01-04           1.79       1373.95      57.42     153.88      0.00
2  2015-01-04           1.00     435021.49  364302.39   23821.16     82.15
3  2015-01-04           1.76       3846.69    1500.15     938.35      0.00
4  2015-01-04           1.08     788025.06   53987.31  552906.04  39995.03

   total_bags  small_bags  large_bags  xlarge_bags          type  \
0     9716.46     9186.93      529.53          0.0  conventional
1     1162.65     1162.65        0.00          0.0       organic
2    46815.79    16707.15    30108.64          0.0  conventional
3     1408.19     1071.35      336.84          0.0       organic
4   141136.68   137146.07     3990.61          0.0  conventional

                region
0               Albany
1               Albany
2              Atlanta
3              Atlanta
4  BaltimoreWashington

In [19]:
df.isnull().sum # Checking for missing values

<bound method DataFrame.sum of         date  average_price  total_volume  plu4046  plu4225  plu4770  \
0      False          False         False    False    False    False
1      False          False         False    False    False    False
2      False          False         False    False    False    False
3      False          False         False    False    False    False
4      False          False         False    False    False    False
...      ...            ...           ...      ...      ...      ...
53410  False          False         False    False    False    False
53411  False          False         False    False    False    False
53412  False          False         False    False    False    False
53413  False          False         False    False    False    False
53414  False          False         False    False    False    False

       total_bags  small_bags  large_bags  xlarge_bags   type  region
0           False       False       False        False  False   False
1           False       False       False        False  False   False
2           False       False       False        False  False   False
3           False       False       False        False  False   False
4           False       False       False        False  False   False
...           ...         ...         ...          ...    ...     ...
53410       False        True        True         True  False   False
53411       False        True        True         True  False   False
53412       False        True        True         True  False   False
53413       False        True        True         True  False   False
53414       False        True        True         True  False   False

[53415 rows x 12 columns]>

In [20]:
df['region'].unique() # Using the unique method to find distinct values in the regions column

array(['Albany', 'Atlanta', 'BaltimoreWashington', 'Boise', 'Boston',
       'BuffaloRochester', 'California', 'Charlotte', 'Chicago',
       'CincinnatiDayton', 'Columbus', 'DallasFtWorth', 'Denver',
       'Detroit', 'GrandRapids', 'GreatLakes', 'HarrisburgScranton',
       'HartfordSpringfield', 'Houston', 'Indianapolis', 'Jacksonville',
       'LasVegas', 'LosAngeles', 'Louisville', 'Miami', 'Midsouth',
       'Nashville', 'NewOrleans', 'NewYork', 'Northeast',
       'NorthernNewEngland', 'Orlando', 'Philadelphia', 'PhoenixTucson',
       'Pittsburgh', 'Plains', 'Portland', 'RaleighGreensboro',
       'RichmondNorfolk', 'Roanoke', 'Sacramento', 'SanDiego',
       'SanFrancisco', 'Seattle', 'SouthCarolina', 'SouthCentral',
       'Southeast', 'Spokane', 'StLouis', 'Syracuse', 'Tampa', 'TotalUS',
       'West', 'WestTexNewMexico', 'BirminghamMontgomery',
       'PeoriaSpringfield', 'Providence', 'Toledo', 'Wichita',
       'MiamiFtLauderdale'], dtype=object)

In [21]:
df['region'].value_counts() # Using the value_counts method to find the frequency of each unique value in the region column

region
Albany                  932
Atlanta                 932
BaltimoreWashington     932
Boise                   932
Boston                  932
BuffaloRochester        932
California              932
Charlotte               932
Chicago                 932
CincinnatiDayton        932
Columbus                932
DallasFtWorth           932
Denver                  932
Detroit                 932
GrandRapids             932
GreatLakes              932
HarrisburgScranton      932
HartfordSpringfield     932
Houston                 932
Indianapolis            932
Jacksonville            932
LasVegas                932
LosAngeles              932
Louisville              932
Midsouth                932
Nashville               932
NewOrleans              932
NewYork                 932
SouthCarolina           932
Northeast               932
NorthernNewEngland      932
Orlando                 932
Philadelphia            932
PhoenixTucson           932
Pittsburgh              932
Plains                  932
Portland                932
RaleighGreensboro       932
RichmondNorfolk         932
Roanoke                 932
Sacramento              932
SanDiego                932
SanFrancisco            932
Seattle                 932
West                    932
SouthCentral            932
Southeast               932
Spokane                 932
StLouis                 932
Syracuse                932
Tampa                   932
TotalUS                 932
WestTexNewMexico        929
Miami                   722
BirminghamMontgomery    618
PeoriaSpringfield       618
Providence              618
Toledo                  618
Wichita                 618
MiamiFtLauderdale       210
Name: count, dtype: int64

In [22]:
df.groupby('region').count() # Grouping by the region column and counting the values in each column to look for any anomalies

,date,average_price,total_volume,plu4046,plu4225,plu4770,total_bags,small_bags,large_bags,xlarge_bags,type
region,,,,,,,,,,,
Albany,932,932,932,932,932,932,932,722,722,722,932
Atlanta,932,932,932,932,932,932,932,722,722,722,932
BaltimoreWashington,932,932,932,932,932,932,932,722,722,722,932
BirminghamMontgomery,618,618,618,618,618,618,618,408,408,408,618
Boise,932,932,932,932,932,932,932,722,722,722,932
Boston,932,932,932,932,932,932,932,722,722,722,932
BuffaloRochester,932,932,932,932,932,932,932,722,722,722,932
California,932,932,932,932,932,932,932,722,722,722,932
Charlotte,932,932,932,932,932,932,932,722,722,722,932
Chicago,932,932,932,932,932,932,932,722,722,722,932
CincinnatiDayton,932,932,932,932,932,932,932,722,722,722,932
Columbus,932,932,932,932,932,932,932,722,722,722,932
DallasFtWorth,932,932,932,932,932,932,932,722,722,722,932
Denver,932,932,932,932,932,932,932,722,722,722,932
Detroit,932,932,932,932,932,932,932,722,722,722,932
GrandRapids,932,932,932,932,932,932,932,722,722,722,932
GreatLakes,932,932,932,932,932,932,932,722,722,722,932
HarrisburgScranton,932,932,932,932,932,932,932,722,722,722,932
HartfordSpringfield,932,932,932,932,932,932,932,722,722,722,932
Houston,932,932,932,932,932,932,932,722,722,722,932
Indianapolis,932,932,932,932,932,932,932,722,722,722,932
Jacksonville,932,932,932,932,932,932,932,722,722,722,932
LasVegas,932,932,932,932,932,932,932,722,722,722,932
LosAngeles,932,932,932,932,932,932,932,722,722,722,932
Louisville,932,932,932,932,932,932,932,722,722,722,932
Miami,722,722,722,722,722,722,722,722,722,722,722
MiamiFtLauderdale,210,210,210,210,210,210,210,0,0,0,210
Midsouth,932,932,932,932,932,932,932,722,722,722,932
Nashville,932,932,932,932,932,932,932,722,722,722,932
NewOrleans,932,932,932,932,932,932,932,722,722,722,932
NewYork,932,932,932,932,932,932,932,722,722,722,932
Northeast,932,932,932,932,932,932,932,722,722,722,932
NorthernNewEngland,932,932,932,932,932,932,932,722,722,722,932
Orlando,932,932,932,932,932,932,932,722,722,722,932
PeoriaSpringfield,618,618,618,618,618,618,618,408,408,408,618
Philadelphia,932,932,932,932,932,932,932,722,722,722,932
PhoenixTucson,932,932,932,932,932,932,932,722,722,722,932
Pittsburgh,932,932,932,932,932,932,932,722,722,722,932
Plains,932,932,932,932,932,932,932,722,722,722,932
Portland,932,932,932,932,932,932,932,722,722,722,932
Providence,618,618,618,618,618,618,618,408,408,408,618
RaleighGreensboro,932,932,932,932,932,932,932,722,722,722,932
RichmondNorfolk,932,932,932,932,932,932,932,722,722,722,932
Roanoke,932,932,932,932,932,932,932,722,722,722,932
Sacramento,932,932,932,932,932,932,932,722,722,722,932
SanDiego,932,932,932,932,932,932,932,722,722,722,932
SanFrancisco,932,932,932,932,932,932,932,722,722,722,932
Seattle,932,932,932,932,932,932,932,722,722,722,932
SouthCarolina,932,932,932,932,932,932,932,722,722,722,932
SouthCentral,932,932,932,932,932,932,932,722,722,722,932
Southeast,932,932,932,932,932,932,932,722,722,722,932
Spokane,932,932,932,932,932,932,932,722,722,722,932
StLouis,932,932,932,932,932,932,932,722,722,722,932
Syracuse,932,932,932,932,932,932,932,722,722,722,932
Tampa,932,932,932,932,932,932,932,722,722,722,932
Toledo,618,618,618,618,618,618,618,408,408,408,618
TotalUS,932,932,932,932,932,932,932,722,722,722,932
West,932,932,932,932,932,932,932,722,722,722,932
WestTexNewMexico,929,929,929,929,929,929,929,719,719,719,929
Wichita,618,618,618,618,618,618,618,408,408,408,618

In [23]:
df_filtered = df[df['region'] == 'California'] # Filtering data for specific types of analysis
df_filtered

,date,average_price,total_volume,plu4046,plu4225,plu4770,total_bags,small_bags,large_bags,xlarge_bags,type,region
12,2015-01-04,0.930000,5777334.90,2843648.26,2267755.26,137479.64,528451.74,477193.38,47882.56,3375.80,conventional,California
13,2015-01-04,1.240000,142349.77,107490.73,25711.96,2.93,9144.15,9144.15,0.00,0.00,organic,California
120,2015-01-11,0.920000,6024932.34,2889591.29,2485720.10,103573.42,546047.53,510560.41,31874.03,3613.09,conventional,California
121,2015-01-11,1.100000,158110.68,123712.51,25975.27,1.47,8421.43,8421.43,0.00,0.00,organic,California
228,2015-01-18,1.020000,5570915.26,2780859.66,2108450.36,121614.31,559990.93,520299.26,36501.18,3190.49,conventional,California
...,...,...,...,...,...,...,...,...,...,...,...,...
53127,2023-11-19,1.727136,271097.77,120937.09,8513.68,0.00,129489.38,NaN,NaN,NaN,organic,California
53186,2023-11-26,1.304916,4200357.00,2391331.83,470082.13,373369.38,834081.63,NaN,NaN,NaN,conventional,California
53245,2023-11-26,1.734881,268456.70,115377.24,7771.02,0.00,135478.19,NaN,NaN,NaN,organic,California
53304,2023-12-03,1.066007,5845932.70,3868487.00,591584.26,340737.02,916388.81,NaN,NaN,NaN,conventional,California
53363,2023-12-03,1.663419,290944.44,114223.14,8976.70,1.46,154905.12,NaN,NaN,NaN,organic,California

---
<a href=#five></a>
## **Exploratory Data Analysis (EDA)**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Explore and visualize the data to uncover patterns, trends, and relationships.
* **Details:** Use statistics and visualizations to explore the data. This may include histograms, box plots, scatter plots, and correlation matrices. Discuss any significant findings.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#six></a>
## **Modeling**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Develop and train predictive or statistical models.
* **Details:** Describe the choice of models, feature selection and engineering processes, and show how the models are trained. Include code for setting up the models and explanations of the model parameters.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#seven></a>
## **Evaluation and Validation**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Evaluate and validate the effectiveness and accuracy of the models.
* **Details:** Present metrics used to evaluate the models, such as accuracy, precision, recall, F1-score, etc. Discuss validation techniques employed, such as cross-validation or train/test split.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#eight></a>
## **Final Model**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Present the final model and its performance.
* **Details:** Highlight the best-performing model and discuss its configuration, performance, and why it was chosen over others.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#nine></a>
## **Conclusion and Future Work**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Summarize the findings and discuss future directions.
* **Details:** Conclude with a summary of the results, insights gained, limitations of the study, and suggestions for future projects or improvements in methodology or data collection.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#ten></a>
## **References**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Provide citations and sources of external content.
* **Details:** List all the references and sources consulted during the project, including data sources, research papers, and documentation for tools and libraries used.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

## Additional Sections to Consider

* ### Appendix: 
For any additional code, detailed tables, or extended data visualizations that are supplementary to the main content.

* ### Contributors: 
If this is a group project, list the contributors and their roles or contributions to the project.